/.DS_Store
/.ipynb_checkpoints
/car-sales-missing-data.csv
/car-sales-missing-dropped.csv
/car-sales.csv
/env
/exported-car-sales.csv
/exported-car_sales.csv
/heart-disease-analysis-plot.png
/heart-disease.csv
/images